.footer-part {
	width: 100%;
	height: 70px;
	background-color: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	color: #a0a5aa;
}

.footer-part .container {
	display: flex;
	gap: 370px;
}

.footer-paragraph {
	display: flex;
	align-items: center;
	font-size: 18px;
	color: #fff;
}

.footer-list {
	display: flex;
	align-items: center;
	gap: 50px;
	width: 18px;
	height: 18px;
	letter-spacing: none;
	font-size: 28px;
	list-style: none;
}

@media screen and (max-width: 769px) {
	.footer-part {
		width: 100%;
		height: 100%;
		background-color: #222;
	}

	.footer-part .container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px 0;
		gap: 10px;
	}

	.footer-paragraph {
		font-size: 18px;
		color: lightgray;
		text-align: center;
	}

	.footer-list {
		display: flex;
		justify-content: center;
		gap: 70px;
		width: 100%;
		color: white;
		margin: 15px 0;
	}
}
